@{
    ViewData["Title"] = "Create Role";
}

<h2>Rol Ekle</h2>

<form method="post">
    <div class="form-group">
        <label for="roleName">Rol Adı</label>
        <input type="text" class="form-control" id="roleName" name="roleName" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
